.plates-list {
  height: 100%;
  display: grid;

  align-content: space-evenly;
  justify-content: space-evenly;
}

.plates-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate {
  width: var(--plate-width);
  height: var(--plate-height);

  border: 1px solid #ececec;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);

  padding: 15px;
  background: #fff;
}

.plate__title {
  font-weight: normal;
  font-size: 14px;
  text-align: center;

  max-height: 100%;
}

.plate__title p::first-letter {
  font-weight: bold;
  text-transform: uppercase;
}